body{
        background-color: #c4c4c4;
        margin: 0;
        padding: 0;



    }
/* -------- secsao_top -----------------------------------------*/
.secsao_top{
	width: 100%;
	height: 350px;
	background-color: #d4d4d4;
	 background-image: linear-gradient(180deg, #D9D9D9, #75BB91);
	 position: relative;
	 float: left;

	
}


.lines_top_1{
	width: 430px;
	height: 25px;

	
	  color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 10px;



    margin: auto;
    margin-top: 50px;



right: 0px;
left: 0px;
top: 0px;



		position: relative;



}
.lines_top_2{
	width: 430px;
	height: 45px;


	 color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding-top: 10px;


    margin: auto;



right: 0px;
left: 0px;
top: 0px;



		position: relative;



}
.lines_top_3{
	width: 430px;
	height: 75px;


	  color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 10px;
	


    margin: auto;



		right: 0px;
		left: 0px;
		top: 0px;



		position: relative;



}
.lines_top_4{
	width: 270px;
	height: 30px;

	background-color: #0BA88E;

	 color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 10px;


    margin: auto;
    margin-top: 10px;



right: 0px;
left: 0px;
top: 0px;



		position: relative;

		border-radius: 30px;



}

/* -------- secsao_2 -----------------------------------------*/

.secsao_2{
	width: 100%;
	height: 1079px;
	background-color: #A5E9C4;
	  position: relative;
	 float: left;

	
}
.secsao_3{
	width: 100%;
	height: 1079px;
	background-color: #77AA8E;
	  position: relative;
	 float: left;

	
}

.secsao_4{
	width: 100%;
	height: 1079px;
	background-color: #B4DEC8;
	  position: relative;
	 float: left;




	
}

.secsao_5{
	width: 100%;
	height: 94px;
	background-color: #265C3F;
	  position: relative;
	 float: left;

	 text-align: center;
	
}


